
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$legato-frontend-angular-primary: mat.define-palette(mat.$grey-palette, 600, 400, 800);
$legato-frontend-angular-accent: mat.define-palette(mat.$pink-palette, 600, 300, 900);

// The warn palette is optional (defaults to red).
$legato-frontend-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$legato-frontend-angular-theme: mat.define-light-theme((
  color: (
    primary: $legato-frontend-angular-primary,
    accent: $legato-frontend-angular-accent,
    warn: $legato-frontend-angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($legato-frontend-angular-theme);

/* You can add global styles to this file, and also import other style files */

$default-padding: 8px;
$default-container-side-padding: 12%;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee;}

.container {

  padding-top: $default-padding;
  padding-bottom: $default-padding;

  @media screen and (min-width: 1024px) {
    padding-left: $default-container-side-padding;
    padding-right: $default-container-side-padding;
  }
}